* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  background: #222831;
}
::-webkit-scrollbar-track {
  background-color: #dad7d7;
  margin-bottom: 2px;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background: #6d6d6d;

}
::-webkit-scrollbar-thumb {
  background: #29A19C;
  border-radius: 10px;
}
ul, li, a {
  list-style: none;
  text-decoration: none;
}